{% verbatim %}
    <form class="form-horizontal">
        <div class="form-group">
            <label for="user" class="control-label col-lg-2">User</label>
            <div class=col-lg-2>
                <input type="text" id="user" />
            </div>
        </div>

        <div class="form-group">
            <label for="id_type" class="control-label col-lg-2">Type</label>
            <div class="col-lg-2">
            </div>
        </div>

        <div class="form-group">
            <label for="id_amount" class="control-label col-lg-2">Amount</label>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="form-group">
            <label for="id_description" class="control-label col-lg-2">Note</label>
            <div class="col-lg-2">
                <button type="submit" class="btn btn-primary" style="margin-top:10px;">Submit</button>
            </div>
        </div>
    </form>
{% endverbatim %}
