    <form class="form-horizontal">
{#        {% csrf_token %}#}
    {% verbatim %}
        <div class="form-group">
            <label for="user" class="control-label col-lg-2">User</label>
            <div class=col-lg-2>
                <select id="user" class='form-control' ng-model="trans.user"
                        ng-options="item as item.username for item in userList">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="transactionType" class="control-label col-lg-2">Type</label>
            <div class="col-lg-2">
                <select id="transactionType" class='form-control' ng-model='trans.transaction_type'
                        ng-options="item as item.description for item in transactionTypes">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="amount" class="control-label col-lg-2">Amount</label>
            <div class="col-lg-2">
                <input type="text" id="amount" class="form-control" ng-model="trans.amount"/>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="control-label col-lg-2">Note</label>
            <div class="col-lg-2">
                <input type="text" id="description" ng-model="trans.description" class="form-control"/>
                <button class="btn btn-primary" ng-click='addTransaction()' ng-disabled="isDisabled" style="margin-top:10px;">
                    Submit
                </button>
            </div>
        </div>
    </form>

{% endverbatim %}
