<!DOCTYPE html>
<html ng-app="moneytracker">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}moneytracker.js"></script>

    <link rel='stylesheet' href="{{ STATIC_URL }}bootstrap.min.css" media="screen"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Money Tracker</title>
</head>
<body>
    <div class="navbar navbar-static-top navbar-inverse">
        <div class="container">
            <a href="../" class="navbar-brand">Payment Tracker</a>
            <ul class="nav navbar-nav">
                <li>
                    <a href="../">Home</a>
                </li>
                <li>
                    <a href="/#/transactions/">View Transactions</a>
                </li>
                <li>
                    <a href="/#/add/">Add Transaction</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container" ng-view>

    </div>

</body>
</html>
